<nav>
    <div class="site-title">

        <a href="/">
            <h1>Jonini site</h1>
        </a>
        <p>A jonini following a tutorial</p>
    </div>
    <ui>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Blog Create</a></li>
    </ui>
</nav>