<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class = "NOT-FOUND CONTENT">
       OOPS, page not found buddy xd
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>