<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class = "about content">
        <h2>All blogs</h2>
        <p>khKHKKL LJ LJ LJ ljLJLjJ  gJYGo hKL Ogh piouho LH fiyRFU r GH L;h ;ug lIF iyfU fi hOHO yY uo OGIYytr 2UIT igI KHih H PIH ugo </p>
        <p>khKHKKL LJ LJ LJ ljLJLjJ  gJYGo hKL Ogh piouho LH fiyRFU r GH L;h ;ug lIF iyfU fi hOHO yY uo OGIYytr 2UIT igI KHih H PIH ugo </p>
        <p>khKHKKL LJ LJ LJ ljLJLjJ  gJYGo hKL Ogh piouho LH fiyRFU r GH L;h ;ug lIF iyfU fi hOHO yY uo OGIYytr 2UIT igI KHih H PIH ugo </p>
        <p>khKHKKL LJ LJ LJ ljLJLjJ  gJYGo hKL Ogh piouho LH fiyRFU r GH L;h ;ug lIF iyfU fi hOHO yY uo OGIYytr 2UIT igI KHih H PIH ugo </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>